<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
</head>

<body>
{%if book.image %}
<img style="width: 300px; height: 300px" src="{{ book.image.url }}">
{%endif%}

<p>{{book.title}}</p>
<p>{{book.author}}</p>
<br>
<p>Год: {{book.year}}</p>
<p>Рейтинг: {{book.rating}}</p>
<p>Издатель: {{book.publisher.title}}</p>
<p>Язык: {{book.publisher.get_languages_display}}</p>

{% if book.genre %}

<p>Жанр: {{book.genre.title}}</p>

{% else %}

<p>Жанр: не указан</p>

{% endif %}
<p>Время публикации на сайте: {{ book.created_at }}</p>
<p>Тэги:</p>
{%for tag in book.tags.all%}
<p>  <b> <a href="{% url 'get_tag_books' tag.title%}">{{tag.title}} </a> </b> </p>



        {%endfor%}
        <p></p> <b> <a href="{% url 'update_book_by_id' book.id %}"> Редактировать книгу</a> </b> </p>
        <p></p> <b> <a href="{% url 'delete_book' book.id %}"> Удалить книгу</a> </b> </p>
</body>
</html>